
<% @batch = Batch.find_by(productID: params[:product]) %>
<% @product = Product.find_by(productID: params[:product]) %>
<% @productID = params[:product] %>


<% provide(:title, "Batches") %>

<% unless @product.nil? or @productID.nil? %>
<nav class="breadcrumb">
  <a class="breadcrumb-item" href="/products"><%= @product.name %> (<%= @productID %>)</a>
  <span class="breadcrumb-item active">Batches</span>
</nav>
<% if @batch.nil? %>
<h2 id ="batch_placeholder"> Product <%= @product.name %> (<%= @productID %>) <br/> does not have any batches stored! </h2>
<% end %>
<% end %>
<% unless @batch.nil? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-3">Batch ID</th>
      <th class="col-xs-3">Quantity</th>
      <th class="col-xs-3">Expiry Date</th>
      <th class="col-xs-3">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @batches.each do |batch| %>
      <% if batch.productID == @productID%>
        <tr>
          <th scope="row"><%= batch.batchID %></th>
          <td><%= batch.quantity %></td>
          <td><%= batch.expiryDate %></td>
          <td>
              <div class="row d-flex w-100" style="margin-bottom: 0;" id="listview-row">
                <%= link_to "Edit", edit_batch_path(:id => batch.batchID), :class =>"btn btn-info btn-xs", :style => "font-size: initial; margin: 0em 0.5em;" %>
                <%= link_to 'Delete', batch ,:class =>"btn btn-warning btn-xs", :style => "font-size: initial; margin: 0em 0.5em;", method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @product.nil? or @productID.nil? %>
<h2 id ="batch_placeholder"> Select a product from the list to view batches. </h2>
<% end %>




