<% provide(:title, "Products") %>

<div class="list-group">
  <% @products.each do |product| %>
     <a href="/batches?product=<%= product.productID %>" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
     <h5 class="mb-1"><%= product.name %></h5>
        <span class="badge badge-default badge-pill">216</span>
      </div>
      <h6 class="mb-1">Product Code: <%= product.productID %>  </h6>
      <p>Description: <%= product.description %>, $<%= product.price %> </p>
    </a>
  <% end %>
</div>