<!DOCTYPE html>
<html>
  <head>
     <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/header' unless @skip_header %>
  <body>
      <div id="placeholder">
          <p>Please use your mobile or tablet to access this portal.</p>
      </div>
  <%= yield %>
  
  </body>
  <%= render 'layouts/footer' unless @skip_footer %>
</html>
